/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #c0c0c0;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
  padding: 10px;
}

mat-card:first-child {
  margin-top: 20px;
}
.mat-tab-body-content {
  overflow: hidden !important;
}
